.form__row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__row-edit {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form__row-edit:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
