{{!< main}}

{{> "BackPanel/BackPanel" changePassword.backUrl}}
<div class="info">
  <div class="info__header">
    {{> "Avatar/Avatar" changePassword.avatar}}
  </div>
  <form class="form-edit">
    <div class="form__fields">
      {{#each changePassword.fields}}
        {{> "FormRow/FormRow" this }}
      {{/each}}
    </div>
    <div class="form__buttons">
      {{> "Button/Button" changePassword.button }}
    </div>
  </form>
</div>