<div class="messages__item message-wrapper">
  <div class="message {{className}}">
    <div class="message__body">
      {{messageText}}
    </div>
    <div class="message__footer">
      <span class="message__footer__date">{{sentTime}}</span>
    </div>
  </div>
</div>