<div class="chats__item">
  {{> "Avatar/Avatar" avatar}}
  <div class="chats__item__info-main">
    <span class="chats__item__name">
      {{name}}
    </span>
    <p class="chats__item__message">
      {{lastMessage}}
    </p>
  </div>
  <div class="chats__item__info-addition">
    <span class="chats__item__date">
      {{sentTime}}
    </span>
    <span class="chats__item__counter">
      {{messagesCounter}}
    </span>
  </div>
</div>