  <aside class="sidebar">
    <div class="sidebar__header">
      {{> "Link/Link" chats.profileLink }}
      {{> "Input/Input" chats.searchInput }}
    </div>
      {{> "ChatList/ChatList" }}
  </aside>